.details-shop a{
text-decoration: none;
color: black;
}





/* becke-blender */
.becke-blender{
margin-bottom: 200px;
}
.becke-blender .right{
background-image: url('./../image/becky-blender/img2.webp');
background-position: center;
background-size: cover;
}
.becke-blender .right1{
    margin-left: 80px;
}
.becke-blender .right1 p{
    color: #767676;
}
.becke-blender .right1 .a1{
    color: black;

}


/* follows-instagram */
.follows-instagram{
    position: relative;
    bottom: 100px;
}
.follows-instagram p{
    width: 450px;
    margin: auto;
    color: #8A8A8A;
    font-size: 13px;

}
/* sucscibe */
.subscribe .moddle{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.subscribe .moddle h2{
font-family: Volkhov;
}
.subscribe .moddle p{
    color: #8A8A8A;
}
.subscribe .moddle input{
border:none;
height: 50px;
box-shadow: 0 32.6px 13px 0 #000000,2;
background-color: #FAFAFA;
}
.subscribe input::placeholder{
    color: blue;
    padding-left: 20px;
}
.subscribe .button-subsribe-btn a{
    height: 50px;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    margin-top: 20px;
}

/* footer */

.footer address{
margin-left: 370px;
}
.nav-link:active{
      text-decoration: underline;
}